{% extends "core.html" %}
{% block content %}
<main role="main">
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron minecraft-image">
      <div class="container tinted-background">
        <h1 class="display-3">Frequently Asked Questions page</h1>
        <p>This is where your questions about anything relating to the servers and staff can be found.</p>
      </div>
    </div>

    <div class="container">
           <!-- Example row of columns -->
           <div class="row">
              <div class="card col-12">
                 <div class="card-body">
                   <h5 class="card-title">Do you have to pay to play on the servers?</h5>
                   <p class="card-text">No, you do not have to pay to be able to play on our servers. The servers are completely free.</p>
                 </div>
                 <div class="card-body">
                  <h5 class="card-title">Are there pay to win elements on the servers?</h5>
                  <p class="card-text">No, there are no pay to win elements on the servers we operate. We are commited to fair gameplay.</p>
                </div>
                <div class="card-body">
                  <h5 class="card-title">Are hacking and exploits allowed on the servers?</h5>
                  <p class="card-text">No, hacking is strictly banned. If you suspect someone hacking on our servers please report it to a staff member.</p>
                </div>
                <div class="card-body">
                  <h5 class="card-title">Can you request gameplay additions to any of the servers?</h5>
                  <p class="card-text">Yes, you can request gameplay additions by filing a ticket.</p>
                </div>
                <div class="card-body">
                  <h5 class="card-title">If there is a gameplay issue such as a bug do we inform a staff member?</h5>
                  <p class="card-text">Unless it is an urgent issue such as a imminent server crash, please file a ticket.</p>
                </div>
                <div class="card-body">
                  <h5 class="card-title">Are faction/PVP allowed?</h5>
                  <p class="card-text">Yes, if you would like to create a group with their own special discord category within the Team X discord server please contact one of the server admins.</p>
                </div>
                <div class="card-body">
                  <h5 class="card-title">Why TeamX?</h5>
                  <p class="card-text">We don't know!</p>
                </div>
              </div>
             </div>
{% endblock %}
