{% extends "core.html" %}

{% block content %}
<main role="main">
  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron minecraft-image">
    <div class="container tinted-background">
      <h1 class="display-3">Team X Servers</h1>
      <p>We're a small community that hosts several free to play Minecraft Servers of a wide variety. Some of our servers are challenging modded servers that will push your friends and you to survive. Others are plain old vanilla servers for everyone to enjoy.</p>
      <p><a class="btn btn-primary btn-lg" href="/servers" role="button">View our servers &raquo;</a></p>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="card-wrapper col-md-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Friendly Community</h5>
            <h6 class="card-subtitle mb-2 text-muted">Everyone needs friends!</h6>
            <p class="card-text">We boast one of the friendliest communities around! People are always willing to give a helping hand when needed. Come check out our discord at the link below.</p>
            <a href="#" class="card-link">Forums</a>
            <a href="https://discord.gg/ATX9RfK" class="card-link">Discord</a>
          </div>
        </div>
      </div>
      <div class="card-wrapper col-md-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Unique Servers</h5>
            <h6 class="card-subtitle mb-2 text-muted">Including one-of-a-kind mods!</h6>
            <p class="card-text">We have a wide variety of servers. We host everything from Vanilla servers to modded Forge servers. We even have some of our own mods, completely unique to our servers!</p>
            <a href="/servers" class="card-link">View our servers</a>
          </div>
        </div>
      </div>
      <div class="card-wrapper col-md-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Expert Staff</h5>
            <h6 class="card-subtitle mb-2 text-muted">They really know their shit</h6>
            <p class="card-text">Our staff have years of experience backing them. This ensures that we have reliable servers, and in the off chance there is down-time it's as brief as possible.</p>
            <a href="/about" class="card-link">View our staff</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="card-wrapper col-md-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Upcoming Changes to our website</h5>
            <h6 class="card-subtitle mb-2 text-muted">What are we planning on doing next?</h6>
            <p class="card-text">Currently most of the website is under development. We plan to add features to view what mods each server has (as well as what version of the mod it is), and detailed logging for each patch a server receives. If you have any additional suggestions please don't hesitate to use our <a href="contact">contact us</a> form to let us know.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="card-wrapper col-md-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Recent Updates</h5>
            <h6 class="card-subtitle mb-2 text-muted">This section is coming soon!</h6>
            <p class="card-text">Once our CMS is fully working this will dynamically update with the newest updates.</p>
          </div>
        </div>
      </div>
      <div class="card-wrapper col-md-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Recent Forum Posts</h5>
            <h6 class="card-subtitle mb-2 text-muted">This section is coming soon!</h6>
            <p class="card-text">A forum is in the works. It may potentially be replaced with Discord though. If you have any thoughts on this, please let us know.</p>
          </div>
        </div>
      </div>
    </div>

    <hr />

  </div> <!-- /container -->
</main>
{% endblock %}
