{% extends 'core.html' %}
{% block content %}
<link href="{{ url_for('static', filename='css/common.css') }}" rel="stylesheet"/>
<link href="{{ url_for('static', filename='css/server_page.css') }}" rel="stylesheet"/>
<div class="container marketing">
  <div class="row">
    <h2 class="default-heading-1">{{server.name}}</h2>
  </div>
  <div class="row">
    <div class="alert alert-primary col-12">
      Please keep in mind that this is a WIP
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4 col-md-12 col-sm-12 server-info-image-panel">
      <div class="box">
        <img src="{{ url_for('static', filename=server.path_to_pic) }}" class="servers-server-image"/>
        <div class="box-item">Players: <span id="player_count">Contacting server...</span></div>
      </div>
    </div>
    <div class="col-lg-8 col-md-12 col-sm-12 server-info-details-panel">
      <h2 class="text-center">Details</h2>
      <div class="box">
        <div class="box-item">IP: {{server.address}}</div>
        <div class="box-item">Pack: {% if server.path_to_technic != None and server.path_to_technic != ""%}<a href="{{server.path_to_technic}}">Modpack</a>{% else %}Vanilla{%endif%}</div>
        <div class="box-item">MC Version: {{server.minecraft_version}}</div>
        <div class="box-item">Version: ???</div>
				{% if user.is_admin or user.is_superuser %}
					<div class="box-item">
						<div class="row">
							<div class="col-6">
								<button class="btn btn-primary col-12"  data-toggle="modal" data-target="#create-server-modal">Add Mod</button>
							</div>
							<div class="col-6">
								<button class="btn btn-primary col-12"  data-toggle="modal" data-target="#create-server-modal">Add Update</button>
							</div>
						</div>
					</div>
				{% endif %}
      </div>
      <h2 class="text-center">Description</h2>
      <div class="box">
        <div class="box-item">
          {{server.fulldesc}}
        </div>
      </div>
    </div>
  </div>
  <div class="row my-1">
    <div class="col-12">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        {% if mods|length > 0 %}
          <li class="nav-item">
            <a class="nav-link active" id="mod-tab" data-toggle="tab" href="#mods" role="tab" aria-controls="Mods" aria-selected="true">Mods ({{mods|length}})</a>
          </li>
        {%endif%}
        {% if updates|length > 0 %}
          {% if mods|length == 0 %}
            <li class="nav-item">
              <a class="nav-link active" id="patch-tab" data-toggle="tab" href="#patches" role="tab" aria-controls="Patch list" aria-selected="false">Patch list ({{updates|length}})</a>
            </li>
          {%else%}
            <li class="nav-item">
              <a class="nav-link" id="patch-tab" data-toggle="tab" href="#patches" role="tab" aria-controls="Patch list" aria-selected="false">Patch list ({{updates|length}})</a>
            </li>
          {%endif%}
        {% endif %}
        {% if updates|length == 0 and mods|length == 0%}
          <li class="nav-item">
            <a class="nav-link active" id="playtimes-tab" data-toggle="tab" href="#playtimes" role="tab" aria-controls="Hours logged" aria-selected="false">Hours logged</a>
          </li>
        {%else%}
          <li class="nav-item">
            <a class="nav-link" id="playtimes-tab" data-toggle="tab" href="#playtimes" role="tab" aria-controls="Hours logged" aria-selected="false">Hours logged</a>
          </li>
        {%endif%}
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade {% if mods|length > 0%}show active{%endif%}" id="mods" role="tabpanel" aria-labelledby="mod-tab">
           {% for mod in mods %}
            <div class="box-item" style="border-right: 1px solid #444;border-left: 1px solid #444;">
              <div class="float-left">{{mod.name}}</div>
              <div class="float-right">{{mod.version}} | <a href="{{mod.source}}">Link</a></div>
              &nbsp;
            </div>
          {%endfor%}
        </div>
        <div class="tab-pane fade {% if mods|length == 0 and updates|length > 0 %}show active {%endif%}" id="patches" role="tabpanel" aria-labelledby="patch-tab">
          {% for update in updates %}
            <div class="box-item" style="border-right: 1px solid #444;border-left: 1px solid #444;">
              <div class="float-left">{{update.title}}  -  {{update.shortdesc}}</div>
              <div class="float-right">{{update.version}} | {{update.date_updated}} | <a href="#">Link</a></div>
              &nbsp;
            </div>
          {%endfor%}
        </div>
        <div class="tab-pane fade {% if mods|length == 0 and updates|length == 0 %}show active {%endif%}" id="playtimes" role="tabpanel" aria-labelledby="playtimes-tab">
          <div class="box-item" style="border-right: 1px solid #444;border-left: 1px solid #444;">
            <div class="float-left">Example Player</div>
            <div class="float-right">5d, 3h, 10m, 20s</div>
            &nbsp;
          </div>
        </div>
      </div>
    </div>
  </div>
</div><!-- /.container -->
<script>
  var players;
  var maxp;

  function get_players(){
    $.get({
      url: "/api/server/{{server.id}}/get_current_player_count",
      type: "GET",
      error: function(data){
        alert(data.responseText);
      },
      success: function(data){
        players = data;
        get_max_players();
      },
    })
  }
  function get_max_players(){
    $.get({
      url: "/api/server/{{server.id}}/get_max_player_count",
      type: "GET",
      error: function(data){
        alert(data.responseText);
      },
      success: function(data){
        maxp = data;
        set_widget();
      },
    })
  }
  function set_widget(){
    $("#player_count").text(players+"/"+maxp);
  }
  get_players();
</script>
{% if user.is_admin or user.is_superuser %}
<!-- JavaScript and Admin modals for adding mods/patches -->
<div class="modal" id="create-server-modal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Required Info</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <p class="alert bg-danger d-none my-2" id="server-modal-error">
          Error message here
        </p>
        <form>
          <div class="form-group">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text uniform-form-prepend" id="mod_name_ig">Mod Name</span>
              </div>
              <input type="text" class="form-control bg-light text-dark" aria-label="Mod Name" aria-describedby="mod_name_ig" id="mod_name" placeholder="Sweet Mod">
            </div>
          </div>
        </form>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="modal_create_and_close_button">Create and close</button>
				<button type="button" class="btn btn-primary" id="modal_create_and_add_button">Create and add another</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>
<script>

</script>

{% endif %}
{% endblock %}
